<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="./favicon.ico" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />

    <!-- main css file -->
    <link rel="stylesheet" href="css/main.css" />

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    <title>Cyber Time</title>
  </head>
  <body>
    <div class="app" id="app">
      <div class="app__container">
        <nav class="nav">
          <div class="nav__item">
            <a @click="openCyber(0)" href="#" class="nav__item-link"
              >Cyber farming</a
            >
          </div>
          <div class="nav__item">
            <a @click="openFantasy(1)" href="#" class="nav__item-link"
              >Fantasy league</a
            >
          </div>
          <div class="nav__item">
            <a @click="openTime(2)" href="#" class="nav__item-link"
              >Time collection</a
            >
          </div>
          <div class="nav__item">
            <a @click="openDao(3)" href="#" class="nav__item-link"
              >Dao voting & fund</a
            >
          </div>
          <div class="nav__item">
            <a href="https://docs.cybertime.finance/" class="nav__item-link"
              >Docs</a
            >
          </div>
        </nav>
        <div class="logo">
          <div class="logo__sun">
            <img class="logo__image" src="./assets/img/sun.png" alt="" />
            <img
              src="./assets/img/mountains.png"
              alt=""
              class="logo__mountains"
            />
          </div>
        </div>
        <div class="container__flex">
          <div class="media">
            <a href="#" class="media__item media__item--one"></a>
            <a href="#" class="media__item media__item--two"></a>
            <a href="#" class="media__item media__item--three"></a>
            <a href="#" class="media__item media__item--four"></a>
            <a href="#" class="media__item media__item--five"></a>
            <a href="#" class="media__item media__item--six"></a>
            <a href="#" class="media__item media__item--seven"></a>
          </div>
          <div class="copy">
            <a href="#" class="copy__item">Disclaimer</a>
            <a href="#" class="copy__item">Privacy Policy</a>
            <a href="#" class="copy__item">Terms of Service</a>
          </div>
        </div>
      </div>
      <modal
        :modal-title="modalTitle"
        :is-coming-soon="isComingSoon"
        v-if="showCyber"
        @close="showCyber = false"
      >
        <div slot="body">
          <p>
            CyberTime Farming Week starts on February 19, where 1% of NFTL
            tokens will be distributed among 20 pools from DAI to RARI. You just
            need to add your tokens to the pool and get your share of NFTL. Add
            NFTL to Uniswap Liquidity Pool and Receive CyberTime Finance
            Management Tokens (CTF)
          </p>
        </div>
      </modal>
      <modal
        :modal-title="modalTitle"
        :is-coming-soon="isComingSoon"
        v-if="showFantasy"
        @close="showFantasy = false"
      >
        <div slot="body">
          <p>
            We are creating the first NFT League Art and a platform to launch
            Fantasy League on the blockchain. Season 1 starts in 2021. There
            will be 8-12 stages and a grand final at the end of the year.
            Cryptoartists submit their works before each stage and the
            communities within 2 weeks vote for their favorite works with the
            native NFTL token. Before the start of voting, a Draft window opens,
            where a participant can create his Fantasy Team from cryptoartists
            and works presented at a particular stage. At the end of the voting,
            a 24 hour auction is held to sell the work you like.
          </p>

          <p>
            To support the community, we have reserved 50% of NFTL tokens as
            rewards, which will be distributed over the next few seasons.
          </p>

          <p>
            Development plans: <br />
            - NFT Badges of winners and participants (secondary market) <br />
            - NFT Crypto Artist Avatar (Aftermarket)
          </p>
          <p>
            After the launch of NFTL, we plan to use the developments to create
            Fantasy League on the blockchain in any area.
          </p>
        </div>
      </modal>
      <modal
        :modal-title="modalTitle"
        :is-coming-soon="isComingSoon"
        v-if="showTime"
        @close="showTime = false"
      >
        <div slot="body">
          <p>
            We create an exclusive NFT collection of 86,400 NFTs (seconds in 24
            hours). This is a performance project that develops at the expense
            of the community. We plan to work with authors, winners of NFT
            League stages to create unique NFTs. Each author is allocated 1
            minute = 60 seconds = 60 NFT, where he creates a unique work. It
            will be the same on all 60 NFTs, the only difference is the changing
            seconds. Having bought 1 NFT, a person buys 1 second from the
            CyberTime world. The peculiarity of the project is that a native
            token will be launched. $ SEC, which will allow the owner of the NFT
            to make an exchange in one direction and the other at any time. This
            will greatly increase the liquidity of the NFT.
          </p>
        </div>
      </modal>
      <modal
        :modal-title="modalTitle"
        :is-coming-soon="isComingSoon"
        v-if="showDao"
        @close="showDao = false"
      >
        <div slot="body">
          <p>
            We will launch a voting system on the https://snapshot.page
            platform. Each CTF token holder can take part in the development of
            the entire ecosystem of products.
          </p>
          <p>
            Within the league, all stages will be divided into 2 directions of
            payments: ETH & NFTL. During the ETH stage, voting, Fantasy Team
            formation, auction sale will be for ETH. Accordingly, during the
            NFTL stage, all calculations will be in this token. <br />
            All income from ETH stages is distributed as follows: <br />
            - 50% goes to the buyback of CTF tokens at the market price <br />
            - 50% goes to the Community Development <br />
            Fund Distributes all income from NFTL stages as follows: <br />
            - 5% - burn out (based on initial burn rate, which can change the
            community through voting) <br />
            - 47.5% - goes to the buyback of NFTL tokens on the market <br />
            - 47.5% goes to Community Development Fund <br />
            No funds, investors, not even a team get profit from the project.
            All finance goes to the Community Development Fund, where it is
            already distributed by the community itself.
          </p>
        </div>
      </modal>
      <modal-copy
        v-if="showModalCopy"
        @close="showModalCopy = false"
      ></modal-copy>
      <a @click="openModalCopy" class="burger" href="#">
        <span class="burger__line"></span>
        <span class="burger__line"></span>
        <span class="burger__line"></span>
      </a>
    </div>
    <!-- /.app -->

    <script type="text/x-template" id="modal-template">
      <transition name="modal">
        <div class="modal__mask">
          <div class="modal__wrapper">
            <div class="modal__container">

              <div class="modal__header">

                  <h2 class="modal__title">{{ modalTitle }}</h2>
                  <p v-if="isComingSoon" class="modal__subtitle">Coming soon</p>
                  <a v-else :href="link" class="modal__subtitle--link">{{linkText}}</a>
              </div>

              <div class="modal__body-wrapper">
                <div class="modal__body">
                  <slot name="body">
                    modal__default__button body
                  </slot>
                </div>
              </div>

              <a href="#" class="modal__close" @click="$emit('close')">
                    close
              </a>
            </div>
          </div>
        </div>
      </transition>
    </script>
    <script type="text/x-template" id="modal-copy">
      <transition name="modal">
        <div class="modal__mask">
          <div class="modal__wrapper modal__wrapper--copy">
            <div class="modal__container modal__container--copy">
              <ul class="modal-copy">
                <li class="modal-copy__item">
                  <a class="modal-copy__item-link" href="#">Disclaimer</a>
                </li>
                <li class="modal-copy__item">
                  <a class="modal-copy__item-link" href="#">Privacy Policy</a>
                </li>
                <li class="modal-copy__item">
                  <a class="modal-copy__item-link" href="#">Terms of Service</a>
                </li>
              </ul>
              <a href="#" class="modal__close" @click="$emit('close')">
                    close
              </a>
            </div>
          </div>
        </div>
      </transition>
    </script>

    <script>
      // register modal component
      Vue.component("modal", {
        template: "#modal-template",
        props: ["modalTitle", "isComingSoon", "link", "linkText"],
      });

      // register modal component
      Vue.component("modal-copy", {
        template: "#modal-copy",
      });

      // start app
      new Vue({
        el: "#app",
        data: {
          showCyber: false,
          showFantasy: false,
          showTime: false,
          showDao: false,
          showModalCopy: false,
          modalTitle: "",
          isComingSoon: false,
          link: "",
          linkText: "",
          pages: [
            {
              title: "Cyber farming",
              isComingSoon: true,
              link: "#",
              linkText: "cybertime.farm",
            },
            {
              title: "Fantasy league",
              isComingSoon: true,
              link: "#",
              linkText: "ntfl.art",
            },
            {
              title: "Time collection",
              isComingSoon: true,
              link: "#",
              linkText: "cybertime.art",
            },
            {
              title: "Dao voting & fund",
              isComingSoon: true,
              link: "#",
              linkText: "cybertime.fund",
            },
          ],
        },
        methods: {
          openCyber(index) {
            this.showCyber = true;
            this.modalTitle = this.pages[index].title;
            this.isComingSoon = this.pages[index].isComingSoon;
            this.link = this.pages[index].link;
            this.linkText = this.pages[index].linkText;
          },
          openFantasy(index) {
            this.showFantasy = true;
            this.modalTitle = this.pages[index].title;
            this.isComingSoon = this.pages[index].isComingSoon;
            this.link = this.pages[index].link;
            this.linkText = this.pages[index].linkText;
          },
          openTime(index) {
            this.showTime = true;
            this.modalTitle = this.pages[index].title;
            this.isComingSoon = this.pages[index].isComingSoon;
            this.link = this.pages[index].link;
            this.linkText = this.pages[index].linkText;
          },
          openDao(index) {
            this.showDao = true;
            this.modalTitle = this.pages[index].title;
            this.isComingSoon = this.pages[index].isComingSoon;
            this.link = this.pages[index].link;
            this.linkText = this.pages[index].linkText;
          },
          openModalCopy() {
            this.showModalCopy = true;
          },
        },
      });
    </script>
  </body>
</html>
